extends layout

block content
  h1= title
  p Welcome to #{title}

  hr

  form(
    action='/processor',
    method='POST',
    enctype='multipart/form-data')

    label(for='files') select & upload ur files here :)
    input(name='file' type='file' multiple required)
    
    select(name='filetype_output' id='filetype_select')
      option(value='') Please choose an option,,
      option(value='png') png
      option(value='jpeg') jpeg
    
    button(
      (onclick)='upload()'
    ) submit!

  script(src='/javascripts/capturefiles.js')

