extends layout

block content
  h1= title
  p Welcome to #{title}

  hr

  form(
    action='/processor',
    method='POST',
    enctype='multipart/form-data')

    label(for='images') select & upload ur files here :)

    input(
      name='images'
      id='images'
      type='file'
      multiple required)

    img(id='output' width='300')

    label(for='filetype_output') please choose an option,,
    select(name='filetype_output' id='filetype_select')
      option(value='png') png
      option(value='jpeg') jpeg
      option(value='gif') gif
      option(value='webp') webp
      option(value='avif') avif
      option(value='svg') svg

    button(
      (onclick)='upload()'
    ) submit!

    if errors
      each error, i in errors
        li #{error.msg}

  script(defer src='/javascripts/capturefiles.js')
  script(defer src='/javascripts/displayfiles.js')
